body{
    font-family: 'Poppins', sans-serif;
}

/*GENERALES*/
/*******************************************/
.content-center{
    max-width: 800px;
    margin: auto;
    text-align: center;
}
.content-class a{
    text-decoration: none;
    font-weight: bold;
    color: #1a1a1a;
}
.content-class a:hover{
    color: #626262;
}
.linebotton{
    border-bottom: 4px solid #F79B38;
}
label{
    margin-top: 10px;
}
/*TOP*/
.topmargin-lg{ margin-top: 120px; }
.topmargin-md{ margin-top: 60px; }
.topmargin-sm{ margin-top: 30px; }
.topmargin-xs{ margin-top: 8px; }



/*NAVBAR*/
/*******************************************/
.navbar{
    min-height: 60px;
    text-align: center;
    background: white;
    background: #F79B38;
}
.navbar img{
    width: 70px;
}

.navbar a{
    font-size: 20px;
    color: white;
}

.navbar .collapse a:hover{
    color: #D3D3D3;
    line-height: 26px;
    border-bottom: 3px solid #D9D9D9;
}

.nav-link{ color: #1a1a1a; }
.nav-link:hover{ color: #1a1a1a; }

.navbar-toggler i{ font-size: 25px; float: left;}
.navbar-toggler:focus{ outline: none; }



/*INDEX*/
/**************************************************/
#home{
    background-image: url(../image/fondoclient.jpg);
    background: -webkit-linear-gradient(to right, #f3743557, #fdc63041),url(../image/fondoclient.jpg);
    background: linear-gradient(to right, #f374354d, #fdc6304b),url(../image/fondoclient.jpg);
    background-size:100% 550px;
    min-height: 550px;
}

#principal .ondas{
    margin-top: -200px;
}

#home h1{
    text-align: center;
    padding-top: 150px;
    color: white;
    font-size: 90px;
    font-weight: bold;
}
#home p{
    text-align: center;
    color: white;
    font-size: 20px;
}
#principal h2{
    text-align: center;
    color: #DA7A00;
    font-size: 50px;
    font-weight: bold;
}
#principal h4{
    text-align: center;
    font-size: 35px;
    margin-top: 35px;
    color: #ffffff;
}
#home .row a{
    font-size: 40px;
    color: #D3D3D3;
}
#principal a:hover{
    color: #F3F3F3;
}

.servicio{
    width: 100%;
    height: 170px;
    margin-top: 30px;
    margin: auto;
}
.servicio a{
    text-decoration: none;
}
.servicio .ser{
    width: 50%;
    height: auto;
    margin: auto;
    border: 2px solid #DEDEDE;
    border-radius: 30px;
    margin-top: 20px;
}
.servicio .ser:hover{
    border-bottom: 3px solid #F79B38;
    border-top: 3px solid #F79B38;
}
.servicio .ser img{
    width: 80px;
    margin-top: 30px;
}
.servicio .ser h3{
    text-align: center;
    color: #2F47AB;
    margin-top: 30px;
    margin-bottom: 20px;
}
.servicio .ser p{
    width: 70%;
    margin: auto;
    font-size: 20px;
    color: #1a1a1a;
    margin-bottom: 20px;
}


/*PRODUCTOS*/
/**********************************************/
#caballeros{
    margin-top: 100px;
    background: #F3F3F3;
    min-height: 800px;
}
#caballeros h1{
    font-size: 28px;
    font-weight: normal;
    letter-spacing: 1px; /*SEPARACION DE LETRA*/
    text-align: center;
    border-top: 1px solid #ccc;
    margin-top: 10px;
    border-bottom: 1px solid #ccc;
    margin-bottom: 20px;
    padding: 20px;
    padding-top: 15px;
}
.contenedor{
    width: 95%;
    min-height: 600px;
    margin-top: 25px;
    margin: auto;
}
.contenedor .filtro{
    width: 100%;
}
.contenedor .filtro .filtrocuadro{
    width: 95%;
    min-height: auto;
    border-radius: 8px;
    background-color: #eeeeee;
    padding: 20px;
}
.filtrocuadro h3{
    text-align: center;
    font-size: 22px;
}
.filtrocuadro .btnfiltrar{
    width: 120px;
    border-radius: 20px;
    font-weight: bold;
    margin-bottom: 10px;
}


.contenedor .productos{
    width: 100%;
    min-height: 700px;
    margin: auto;
}
.contenedor #divcatalogo{
    width: 100%;
    min-height: 400px;
    margin: auto;
}
.productos a{
    text-decoration: none;
}
.contenedor .productos .cab{
    width: 80%;
    background: white;
    border-radius: 10px;
    margin: auto;
    padding: 10px;
    margin-bottom: 24px;
}
.cab .iconver{
    margin: 0;
    float: right;
    font-size: 20px;
    color: #1a1a1a;
}
.cab img{
    width: 140px;
    height: 200px;
    margin-bottom: 14px;
    -moz-transition: all 0.8s;
    -webkit-transition: all 0.8s;
    transition: all 0.8s;
}
.cab img:hover{
    -moz-transform:  scale(1.2);
    -webkit-transform:  scale(1.2);
    transform: scale(1.1);
}
.cab .cuadrilla{
    width: 100%;
    margin: auto;
    border-top: 2px solid #626262;
}
.cab h6{
    padding: 6px;
    float: left;
    border-radius: 5px;
    background: #D34848;
    color: white;
}
.cab h2{
    font-size: 20px;
    margin-top: 14px;
}
.cab h3{
    font-size: 16px;
    float: left;
}
.cab p{
    font-size: 16px;
    float: right;
}
.cab h4{
    font-size: 16px;
    float: left;
    color: #D60000;
}
.cab h5{
    width: 100%;
    height: auto;
    font-size: 16px;
    float: right;
    color: white;
    font-weight: bold;
    background: #83B885;
    border-radius: 10px;
    padding: 3px;
    letter-spacing: 1pt;
}


/*DETALLE DE PRODUCTOS*/
/**********************************************/
#productocaballero{
    background: #F3F3F3;
}

#productocaballero h1{
    margin-top: 100px;
    color: #1b6d85;
}
#productocaballero .productoMostar{
    width: 70%;
    height: auto;
    margin: auto;
}
#productocaballero .carusel{
    width: 60%;
    height: 580px;
    margin: auto;
    background: white;
}
#productocaballero .carousel h6{
    padding: 6px;
    float: left;
    border-radius: 5px;
    background: #D34848;
    color: white;
    margin-left: 10px;
    margin-top: 10px;
}
#productocaballero .carousel .carousel-item{
    width: 100%;
    height: 100%;
    margin: auto;
}
#productocaballero .carousel img{
    width: auto;
    height: 520px;
    margin: auto;
    padding: 30px;
    margin-top: -30px;
}
#productocaballero .detalles{
    text-align: center;
    font-size: 22px;
    color: #1a1a1a;
    font-weight: bold;
    margin-top: 180px;
    margin-bottom: 10px;
}
#productocaballero .texto{
    width: 100%;
    height: auto;
    background: #1b6d85;
    border-radius: 10px;
}

#productocaballero .carousel a{
    height: 700px;
}
#productocaballero .carousel i{
    color: #1b6d85;
    font-size: 60px;

}
.texto h2{font-size: 24px; margin-top: 20px; color: white;}
.texto h3{font-size: 18px; margin-top: -20px; color: white;}
.texto h6{font-size: 18px; margin-top: -20px; color: white;}
.texto h4{font-size: 18px; margin-top: -20px; color: white;}
.texto h5{font-size: 20px; margin-top: -20px; color: white; letter-spacing: pt;}

#productocaballero .content{
    width: 100%;
    min-height: 400px;
    background: #E4E4E4;
    margin: auto;
    margin-top: 30px;
}
#productocaballero .content h4{
    font-size: 30px;
    color: #1a1a1a;
    margin: auto;
    margin-bottom: 20px;
    text-align: center;
    margin-bottom: 40px;
    padding-top: 30px;
}
.content .caba{
    width: 80%;
    height: auto;
    background: white;
    border-radius: 7px;
    padding: 10px;
    margin-bottom: 30px;
}
.caba .iconver{
    margin: 0;
    float: right;
    font-size: 20px;
    color: #1a1a1a;
}
.content .caba img{
    width: 140px;
    height: 140px;
}
.content .caba .desc{
    padding: 4px;
    float: left;
    border-radius: 5px;
    background: #D34848;
    color: white;
    font-size: 12px
}
.content .caba h2{
    font-size: 18px;
    margin-top: 14px;
}
.content .caba h3{
    font-size: 16px;
    float: left;
}
.content .caba h6{
    font-size: 16px;
    float: right;
}
.content .caba h5{
    padding: 3px;
    width: 60%;
    margin: auto;
    font-size: 16px;
    color: white;
    font-weight: bold;
    background: #83B885;
    border-radius: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    letter-spacing: 1pt;
}


/*REPARTO*/
/**************************************************/
#reparto{
    margin-top: 120px;
}
#reparto h2{
    text-align: center;
    margin-bottom: 20px;
    font-size: 35px;
    color: #4F4F4F;
}
#reparto h4{
    text-align: center;
    margin-bottom: 40px;
    font-size: 20px;
    color: #4F4F4F;
}
#reparto .rep{
    width: 100%;
    min-height: 250px;
    margin-bottom: 25px;
}
#reparto .zona{
    width: 80%;
    border-radius: 20px;
    background: #F5F5F5;
    margin: auto;
    padding: 10px;
    -moz-transition: all 0.8s;
    -webkit-transition: all 0.8s;
    transition: all 0.8s;
}
.zona:hover{
    -moz-transform:  scale(1.2);
    -webkit-transform:  scale(1.2);
    transform: scale(1.1);
}
.zona a{
    text-decoration: none;
}
.zona h3{
    font-size: 25px;
    margin-top: 20px;
    margin-bottom: 20px;
    color: #1a1a1a;
}
.zona img{
    width: 300px;
    margin-bottom: 20px;
}
.zona p{
    font-size: 16px;
    margin-bottom: 20px;
    font-weight: bold;
    color: #00063D;
}

/*COMENTARIO*/
/*******************************************/
#comentarios label{
    margin-top: 15px;
}

#comentarios{
    margin-top: 100px;
}
#comentarios h1{
    text-align: center;
    font-size: 35px;
}
#comentarios h2{
    text-align: center;
    font-size: 22px;
    margin-top: 20px;
}

.formcomentario{
    width: 70%;
    height: 100%;
    margin: auto;
    margin-bottom: 80px;
}
.formcomentario input[type="text"]{
    width: 50%;
    border-radius: 10px;
}
.formcomentario textarea{
    height: 150px;
    border-radius: 10px;
}
.formcomentario input[type="submit"]{
    width: 120px;
    margin-top: 20px;
    float: right;
}

.listacomentario{
    width: 100%;
    min-height: 500px;
    background: #F0F0F0;
    padding: 20px;
}
#comentarios .listacomentario h2{
    margin-bottom: 30px;
    font-size: 29px;
}
.listacomentario .coment{
    width: 60%;
    min-height: 100px;
    background: #E8E8E8;
    border-radius: 8px;
    margin: auto;
    padding: 25px;
    margin-bottom: 30px;
}
.coment h3{
    font-size: 20px;
    font-family: 'Poppins', sans-serif;
}
.coment p{
    font-size: 17px;
    font-family: 'Poppins', sans-serif;
}
.coment h5{
    padding: 10px;
    background: #D9D9D9;
    font-size: 15px;
    font-family: 'Poppins', sans-serif;
    color: #565656;
}
.todocomentario .todo{
    position:fixed;
    width:40px;
    height:40px;
    bottom:40px;
    right:95%;
    background-color:#3A3A3A;
    color:white;
    border-radius:50px;
    text-align:center;
    font-size:20px;
    box-shadow: 2px 2px 3px #999;
    z-index:100;
}
.todocomentario .todo p{
    width: 100px;
    color: #3A3A3A;
    font-size: 12px;

}
.todocomentario .my-todo{
    margin-top:11px;
}




/*POLITICAS*/
/*******************************************/
#politica{
    width: 100%;
    min-height: 780px;
}
#politica h1{
    text-align: center;
    margin-top: 120px;
    font-size: 40px;
    color: #1a1a1a;
}

#politica .terminos{
    width: 40%;
    margin: auto;
    min-height: 400px;
    margin-top: 60px;
}
.terminos li{
    font-size: 18px;
    margin-top: 15px;
}
.terminos a{
    text-decoration: none;
    color: #2F47AB;
    font-weight: bold;
}

/*FOOTER*/
/*******************************************/
#footer{
    width: 100%;
    min-height: 80px;
    background: #373737;
}
#footer .contenedor{
    width: 90%;
    min-height: 70px;
    margin: auto;
}
#footer p{
    font-size: 16px;
    margin-top: 25px;
    color: thistle;
}
#footer b{ color: white;}
#footer a{
    color: white;
    text-decoration: none;
}
#footer i{
    font-size: 30px;
    margin-top: 25px;
    color: white;
}


/*WHATSSAP*/
/*******************************************/
.float{
    position:fixed;
    width:60px;
    height:60px;
    bottom:40px;
    right:40px;
    background-color:#25d366;
    color:#FFF;
    border-radius:50px;
    text-align:center;
    font-size:30px;
    box-shadow: 2px 2px 3px #999;
    z-index:100;
}
.float:hover{
    color:#A9FFBB;
}

.my-float{
    margin-top:16px;
}


/*  ---MOVIL--- */
/*==========================*/

@media (max-width: 575.98px) {
    /*NAVBAR*/
    /*******************************************/
    .navbar img{
        width: 50px;
    }
    .navbar-toggler i{
        font-size: 18px;
        color: white;
    }
    .navbar .collapse a:hover{
        border-bottom: none;
    }
    .collapse a{
        font-size: 15px;
        line-height: 10px;
    }

    /*INDEX*/
    /*******************************************/
    #principal{
        padding-bottom: 50px;
        border-bottom: 5px solid #F79B38;
    }
    #home{
        background: -webkit-linear-gradient(to right, #f3743557, #fdc63041),url(../image/fondocel.jpg);
        background: linear-gradient(to right, #f374353b, #fdc63048),url(../image/fondocel.jpg);
        background-size: 100% 100%;
        min-height: 600px;
    }
    #home h1{
        font-size: 40px;
        margin-top: -20px;
    }
    #home p{
        width: 80%;
        margin: auto;
        margin-top: 20px;
        font-size: 16px;
    }
    #home h4{
        font-size: 20px;
    }
    #home i{
        margin-top: 20px;
    }
    #principal h2{
        font-size: 25px;
    }
    .servicio .ser h3{
        font-size: 20px;
    }

    .servicio .ser{
        width: 90%;
    }
    .servicio .ser img{
        width: 40px;
        margin-top: 30px;
    }
    .servicio .ser h3{
        font-size: 15px;
    }
    .servicio .ser p{
        font-size: 12px;
    }
    #service{
        margin-bottom: 50px;
    }


    /*PRODUCTOS*/
    /**************************************/
    #caballeros{
        margin-top: 80px;
        margin-bottom: 15px;
    }
    #caballeros h1{
        font-size: 20px;
    }
    .filtrocuadro{
        margin: auto;
        margin-bottom: 20px;
    }
    .filtrocuadro h3{
        font-size: 18px;
    }
    label, option{
        font-size: 13px;
    }
    .filtrocuadro .btnfiltrar{
        font-size: 13px;
        margin-top: -15px;
        height: 30px;
    }
    .filtrocuadro form{
        width: 90%;
        height: 100%;
        margin: auto;
    }
    .filtrocuadro select{
        height: 32px;
        font-size: 13px;
    }
    .contenedor .productos{
        width: 90%;
    }
    .contenedor .productos .cab{
        width: 100%;
        height: auto;
        margin: auto;
        margin-bottom: 10px;
        padding: 10px;
    }
    .cab img{
        width: 70px;
        height: 90px;
        margin-top: 40px
    }
    .cab h2{
        font-size: 14px;
        text-align: center;
        width: 100%;
    }
    .cab h3{
        font-size: 12px;
        width: 100%;
        margin-top: -3px;
    }
    .cab p{
        font-size: 12px;
        width: 100%;
        margin-top: -3px;
    }
    .cab h4{
        font-size: 12px;
        width: 100%;
        margin-top: -10px;
    }
    .cab h5{
        width: 100%;
        font-size: 12px;
        margin-top: -3px;
    }
    .cab h6{
        padding: 5px;
        float: left;
        border-radius: 5px;
        background: #E70000;
        color: white;
        font-size: 10px;
    }
    .contenido{
        width: 100%;
    }

    /*DETALLE DEL PRODUCTO*/
    /*******************************************/
    #productocaballero h1{
        font-size: 25px;
        margin-top: 90px;
    }
    #productocaballero .carusel{
        width: 80%;
        height: 280px;
        margin: auto;
        background: white;
    }
    #productocaballero .carousel h6{
        font-size: 13px;
        margin-bottom: -20px;
    }
    #productocaballero .texto-detalles{
        margin-top: -150px;
        margin-bottom: 70px;
    }
    #productocaballero .texto{
        width: 80%;
        height: 150px;
        background: #1b6d85;
    }
    #productocaballero .texto-detalles .detalles{
        font-size: 18px;
    }
    #productocaballero .carousel img{
        width: 220px;
        height: 260px;
        margin: auto;
    }
    #productocaballero .carusel i{
        font-size: 40px;
        margin-top: -280px;
    }
    .texto h2{font-size: 20px; margin-top:10px; border-bottom: 1px solid white;}
    .texto h3{font-size: 15px; }
    .texto p{font-size: 15px; }
    .texto h6{font-size: 15px; }
    .texto h4{font-size: 15px; letter-spacing: 1pt;}
    .texto h5{font-size: 16px; letter-spacing: 1pt;}

    #productocaballero .content h4{
        margin-top: -80px;
        font-size: 22px;
    }
    .content .caba{
        width: 100%;
        margin: auto;
        margin-bottom: 40px;
        margin-top: -30px;
    }
    .content .caba img{
        width: 80px;
        margin: auto;
        height: 80px;
    }
    .caba .iconver{
        font-size: 15px;
        margin-bottom: 25px;
    }
    .content .caba h2{
        font-size: 14px;
        text-align: center;
    }
    .content .caba h3{
        font-size: 12px;
    }
    .content .caba h6{
        width: 100%;
        font-size: 12px;
    }
    .content .caba h4{
        font-size: 12px;
        color: #E10000;
    }
    .content .caba h5{
        width: 100%;
        font-size: 12px;
        margin-top: 3px;
        letter-spacing: 1pt;
    }
    .content .caba .desc{
        padding: 5px;
        float: left;
        font-size: 10px;
        width: auto;
        margin-bottom: 25px;
    }
    .linebottoncel{
        border-bottom: 6px solid #F79B38;
    }



    /*REPARTO*/
    /**************************************************/
    #reparto .rep{
        margin-bottom: 0px;
    }
    #reparto h2{
        margin-top: -20px;
        font-size: 20px;
    }
    #reparto h4{
        width: 80%;
        margin: auto;
        font-size: 14px;
        margin-bottom: 30px;
    }
    #reparto .zona{
        width: 95%;
    }
    .zona h3{
        font-size: 16px;
    }
    .zona img{
        width: 80px;
        margin-bottom: 20px;
    }
    .zona p{
        font-size: 12px;
    }

    /*COMENTARIO*/
    #comentarios h1{
        font-size: 22px;
    }
    #comentarios h2{
        width: 80%;
        margin: auto;
        font-size: 16px;
        margin-top: 10px;
        margin-bottom: 20px;
    }
    .formcomentario{
        width: 90%;
    }
    .formcomentario input[type="text"]{
        width: 100%;
        font-size: 13px;
    }
    .formcomentario textarea{
        font-size: 13px;
        height: 100px;
    }
    .formcomentario input[type="submit"]{
        width: 90px;
        font-size: 13px;
        height: 32px;
        margin-top: 10px;
    }
    #comentarios .listacomentario h2{
        font-size: 19px;
    }
    .listacomentario .coment{
        width: 95%;
        padding: 15px;
    }
    .coment h3{
        font-size: 14px;
    }
    .coment p{font-size: 12px;}
    .coment h5{font-size: 12px;}

    .todocomentario .todo{
        width:30px;
        height:30px;
        bottom:25px;
        right:89%;
        font-size:18px;
    }
    .todocomentario .my-todo{
        margin-top:6px;
    }


    /*POLITICAS*/
    /*******************************************/
    #politica h1{
        margin-top: 100px;
        font-size: 18px;
        font-weight: bold;
    }
    #politica .terminos{
        width: 90%;
        margin: auto;
        margin-top: 30px;
    }
    .terminos li{
        font-size: 13px;
        margin-top: 15px;
    }
    .terminos a{
        text-decoration: none;
        color: #2F47AB;
        font-weight: bold;
    }
    /*FOOTER*/
    /*******************************************/
    #footer p{
        font-size: 12px;
        text-align: center;
    }
    #footer b{
        font-size: 12px;
        text-align: center;
    }
    #footer i{
        font-size: 20px;
        color: white;
        margin-top: -30px;
    }

    /*WHATSSAP*/
    /*******************************************/
    .float{
        width:40px;
        height:40px;
        bottom:25px;
        right:25px;
        font-size:20px;
    }
    .my-float{
        margin-top:11px;
    }


}


/*  --- 580 AND  760--- */
/*==========================*/
@media screen and (min-device-width: 580px) and (max-device-width: 760px){
    #home{
        min-height: 480px;
    }
    #principal h1{
        font-size: 50px;
        margin-top: -40px;
    }
    #principal p{
        width: 80%;
        margin: auto;
        font-size: 20px;
    }
    #home h4{
        margin-top: 18px;
        font-size: 20px;
    }
    #principal a{
        font-size: 30px;
    }
    #service h2{
        font-size: 30px;
    }
    #service .servicio .ser img{
        width: 50px;
        margin-top: 30px;
    }
    #service .ser h3{
        font-size: 23px;
    }
    #service .ser p{
        font-size: 17px;
    }
}


/*  --- 760 AND  1024--- */
/*==========================*/
@media screen and (min-device-width: 760px) and (max-device-width: 1024px){
    #home{
        min-height: 650px;
    }
    #principal h1{
        font-size: 50px;
        margin-top: -10px;
    }
    #principal p{
        width: 80%;
        margin: auto;
        font-size: 20px;
    }
    #home h4{
        margin-top: 40px;
        font-size: 35px;
    }
    #principal a{
        font-size: 35px;
    }
    #service h2{
        font-size: 40px;
    }
    #service .servicio .ser img{
        width: 75px;
        margin-top: 27px;
    }
    #service .ser h3{
        font-size: 24px;
    }
    #service .ser p{
        font-size: 18px;
        margin-bottom: 15px;
    }
}


/*  --- 1024 AND  1440--- */
/*==========================*/
@media screen and (min-device-width: 1024px) and (max-device-width: 1440px){
    #home{
        min-height: 550px;
    }
    #principal h1{
        font-size: 70px;
        margin-top: -40px;
    }
    #principal p{
        width: 80%;
        margin: auto;
        font-size: 28px;
    }
    #home h4{
        margin-top: 28px;
        font-size: 35px;
    }
    #principal a{
        font-size: 40px;
    }
    #service h2{
        font-size: 50px;
        margin-top: 15px;
    }
    #service .servicio .ser img{
        width: 75px;
        margin-top: 30px;
    }
    #service .ser h3{
        font-size: 26px;
    }
    #service .ser p{
        font-size: 20px;
        margin-bottom: 15px;
    }

}
